* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Ubuntu", sans-serif;
}
.text {
  position: fixed;
  font-size: 50px;
  font-weight: 700;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.btn {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 80px;
  font-size: 44px;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  color: #e5a716;
  background-color: rgb(102, 42, 158);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.btn:active {
  box-shadow: none;
}
